body
{
  background-color: black;
}
.upper_main
{
  max-width: 1000px;
  margin: 40px auto 0 auto;
  line-height: 1.5;

  display: flex;
}

nav
{
  background-color: rgb(93,64,55);
  color: rgb(191,54,12);

  flex: 1;
}
.contact_grey
{
  background-color: rgb(191,54,12);
  color: rgb(93,64,55);
}
.about_me_grey
{
  background-color: rgb(191,54,12);
  color: rgb(93,64,55);
}
.hobbies_grey
{
  background-color: rgb(191,54,12);
  color: rgb(93,64,55);
}
.links_grey
{
  background-color: rgb(191,54,12);
  color: rgb(93,64,55);
}

.center
{
  background-color: white;
  flex: 2;
}

footer
{
  max-width: 1000px;
  margin: 40px auto 0 auto;
  line-height: 1.5;

  color: black;
  background-color: white;
  justify-content: center;
}
